@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;0,900;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    display: flex;
    min-height: 100%;
    min-width: 100%;
}

.about {
    background-color: rgb(92, 92, 92);
    width: 30%;
    color: rgb(227, 229, 231);
}

.about > * {
    margin: 0 auto;
    width: 80%;
    text-align: left;
}

.about_me {
    margin-top: 30px;
}

.avatar {
    background-image: url("https://avatars.githubusercontent.com/u/74360115");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin-top: 12%;
}

.info {
    width: 70%;
}